 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: navy;
            color: white;        
            padding: 20px;
            text-align: center;
            border-bottom: 5px solid orange;
        }

        nav {
            background-color: #333; 
            text-align: center;
            padding: 10px;
        }

        nav a {
            color: white;
            text-decoration: none;
            padding: 10px 15px;
            font-size: 18px;
            display: inline-block;
        }

        nav a:hover {
            background-color: orange;
            color: black;
        }

        
        .container {
            background-color: white;
            width: 85%;
            margin: 20px auto; 
            padding: 20px;
            border: 1px solid #ccc;
            min-height: 500px;
        }

        /* TABLES */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #eee;
        }

        /* BUTTON */
        .btn {
            background-color: navy;
            color: white;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
            margin-top: 10px;
            font-weight: bold;
        }

        /* FOOTER */
        footer {
            background-color: black;
            color: white;
            text-align: center;
            padding: 10px;
            margin-top: 20px;
        }
  